/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта. */

.page {
  background-color: var(--bg-color);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  font-variation-settings: "wght" var(--card-font-weight);
  font-weight: var(--card-font-weight);
  font-size: 18px;
  padding-block: 100px;
  font-family: var(--main-font-family);
  color: var(--accent-color);
}

/* шапка сайта */

.header {
  max-inline-size: 700px;
  background-color: var(--bg-color);
  margin-block-end: 100px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid currentColor;
  margin-inline: auto;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-family: var(--accent-font-family);
  margin-block-start: 128px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-inline: 53px;
  font-family: var(--accent-font-family);
}

.header__theme-menu {
  font-family: var(--accent-font-family);
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
}

.theme-menu__item {
  margin-inline-start: 19px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  color: var(--text-color);
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.3s;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  width: 10px;
  position: absolute;
  content: "▶";
  line-height: 14px;
  font-size: 14px;
  right: 100px;
  inset: 0;
  translate: -100%;
  animation: 0.5s ease-in-out infinite alternate move-arrow;
}

/* основная часть страницы */

.main {
  max-inline-size: 1440px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  max-inline-size: 700px;
  margin-block-end: 50px;
  border: 2px solid var(--border-color);
}

.card__list {
  list-style-type: none;
}

.card__title {
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  padding-block: 5px;
  padding-inline: 10px;
  border-block-end: 2px solid var(--border-color);
}

.card__content-image {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card__lable {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 25px;
  text-shadow: 0 0 1px var(--bg-color);
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  mix-blend-mode: hard-light;
}

.card__picture {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 0 25px;
  border-block-start: 2px solid var(--border-color);
}

.card__content-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  font-size: 14px;
  padding: 25px;
}

.card__icon-button {
  height: 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
  font-size: 14px;
  font-family: var(--accent-font-family);
  text-transform: inherit;
  min-inline-size: 130px;
  transition: box-shadow 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

/* кнопка Сохранить на память */

.memory__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button__floppy {
  width: 21px;
  height: 21px;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

/* модальное окно */

.dialog__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  padding: 20px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  margin-block-start: 2px;
  max-block-size: 55px;
}

.dialog {
  background-color: var(--bg-color);
  border: 2px solid currentColor;
  padding-inline: clamp(1.875rem, 3.221rem + -3.077vw, 2.5rem);
  max-inline-size: 357px;
  min-inline-size: 193px;
  padding-block: 25px;
  color: var(--btn-text-color);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 15px;
  line-height: 20px;
}

.dialog[open] {
  display: flex;
  gap: 30px;
  max-width: clamp(21.313rem, 20.159rem + 4.923vw, 22.313rem);
  flex-direction: column;
}

.dialog__button-text {
  text-transform: uppercase;
  inline-size: 100%;
  color: var(--btn-text-color);
  mix-blend-mode: difference;  
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
}

.dialog__button-floppy {
  width: 39px;
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/* для мобильных устройств */

@media (width <= 375px) {
  .header__title {
    margin-block-start: 120px;
  }

  .header__subtitle {
    margin-block-end: 6px;
  }

  .header__theme-menu {
    margin-block-end: 8px;
  }

  .card__lable {
    top: 22px;
    right: 11px;
  }

  .dialog__button {
    flex-direction: column;
    gap: 9px;
    padding: 14px 20px 16px 20px;
    max-block-size: 100px;
    margin-block-start: 0;
  }

  .button__floppy {
    width: 28px;
    height: 28px;
  }
}

/* директива лэйбла карточки */

@supports (-webkit-text-stroke: .5px var(--lable-shadow))
  or (text-stroke: .5px var(--lable-shadow)) {
    .card__lable {
      text-shadow: none;
      -webkit-text-stroke: .5px var(--bg-color);
      text-stroke: .5px var(--bg-color);
    }
}

/* CSS-фильтры для изображений в карточках */

.filter-grayscale {
  filter: grayscale(0.1) hue-rotate(350deg);
}

.filter-saturate {
  filter: saturate(0.9);
}

.filter-hue_rotate {
  filter: hue-rotate(340deg);
}

.filter-invert {
  filter: invert(0.1);
}

.filter-sepia {
  filter: sepia(0.3);
}

.filter-blur {
  filter: blur(4px) sepia(0.3);
}

.filter-multiple {
  filter: invert(0.1) sepia(0.2) hue-rotate(330deg);
}
