/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --page-bg-image: 
    repeating-linear-gradient(
      90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    repeating-linear-gradient(
      180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    linear-gradient(
      180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --lable-shadow: #fff;
  --accent-color: #000;
  --border-color: #000;
  --title-font-weight: 700;
  --card-font-weight: 400;
  --accent-font-family: "PressStart2P", fantasy;
  --main-font-family: 'Inter', sans-serif;
  --text-color: #000;
  --btn-text-color: #fff;
  --contour-heart: #000;
  --red-heart: #ff0000;
}